USE [master]
GO
/****** Object:  Database [store]    Script Date: 9/22/2019 6:25:22 PM ******/
CREATE DATABASE [store]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'store', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\store.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'store_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\store_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [store].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [store]
GO
/****** Object:  Table [dbo].[customer]    Script Date: 9/22/2019 6:25:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[cust_num] [int] NOT NULL,
	[username] [varchar](50) NULL,
	[password] [varchar](8) NULL,
	[fname] [varchar](50) NULL,
	[lname] [varchar](50) NULL,
	[balance] [decimal](5, 2) NULL,
	[STREET] [varchar](20) NULL,
	[CITY] [varchar](10) NULL,
	[STATE] [nchar](2) NULL,
	[ZIP] [nchar](9) NULL,
	[BirthDate] [date] NULL,
	[cc] [varchar](16) NULL,
	[balance2] [smallmoney] NULL,
	[realBalance] [int] NULL,
 CONSTRAINT [PK_cust] PRIMARY KEY CLUSTERED 
(
	[cust_num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[item]    Script Date: 9/22/2019 6:25:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[item](
	[item_num] [int] NOT NULL,
	[description] [varchar](50) NULL,
	[price] [decimal](5, 2) NULL,
 CONSTRAINT [PK_item] PRIMARY KEY CLUSTERED 
(
	[item_num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[purchases]    Script Date: 9/22/2019 6:25:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[purchases](
	[purchase_num] [int] NOT NULL,
	[cust_num] [int] NULL,
	[item_num] [int] NULL,
	[purchase_date] [date] NULL,
	[qty] [int] NULL,
	[total] [decimal](5, 2) NULL,
 CONSTRAINT [PK_purchase] PRIMARY KEY CLUSTERED 
(
	[purchase_num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[customer] ADD  DEFAULT ((0)) FOR [balance]
GO
ALTER TABLE [dbo].[customer] ADD  DEFAULT ((40)) FOR [realBalance]
GO
ALTER TABLE [dbo].[purchases] ADD  DEFAULT (getdate()) FOR [purchase_date]
GO
ALTER TABLE [dbo].[purchases]  WITH CHECK ADD  CONSTRAINT [FK_cust] FOREIGN KEY([cust_num])
REFERENCES [dbo].[customer] ([cust_num])
GO
ALTER TABLE [dbo].[purchases] CHECK CONSTRAINT [FK_cust]
GO
ALTER TABLE [dbo].[purchases]  WITH CHECK ADD  CONSTRAINT [FK_item] FOREIGN KEY([item_num])
REFERENCES [dbo].[item] ([item_num])
GO
ALTER TABLE [dbo].[purchases] CHECK CONSTRAINT [FK_item]
GO
USE [master]
GO
